#home-header {
  background-image: url("../image/leaves.jpg");
  width: 100%;
  position: relative;
  left: 0px;
  top: 28px;
}

nav {
  border-bottom: 1px solid white;
  position: fixed;
  color: white;
  padding: 5px;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #070;
  z-index: 2;
}

nav h2, nav a {
  display: inline;
  clear: none;
}

nav h2 {
  float: left;
}

nav a {
  float: right;
  border: 1px solid white;
  padding: 7px;
  color: inherit;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  top: 13px;
  right: 9px;
  position: relative;
}
