header {
  background-image: url("../image/leaves.jpg");
  width: 100%;
}

header nav {
  border-bottom: 1px solid white;
  position: fixed;
  color: white;
  padding: 5px;
  top: 0;
  left: 0;
  width: 100%;
}
