header {
  background-image: url("../image/leaves.jpg");
  width: 100%;
}

header nav {
  border-bottom: 1px solid white;
  position: fixed;
  color: white;
  padding: 5px;
  top: 0;
  left: 0;
  width: 100%;
}

nav h1, nav a {
  display: inline;
}

nav h1 {
  float: left;
}

nav a {
  float: right;
  border: 1px solid white;
  padding: 7px;
  color: inherit;
}
